port: 5001
database:
  driver: "sqlite" #possible value are mongodb or mysql
  address: "127.0.0.1"
  port: 3306
  username: ""
  password: ""
  name: "efishery"
cache:
  driver: "redis"
  address: "127.0.0.1"
  port: 6379
  password: ""
  dbnumber: 1
endpoint:
  auth: "http://127.0.0.1:5000"
  commodities: "https://stein.efishery.com/"
  convert_currency: "https://free.currconv.com"